.app {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)),
		url("https://images.pexels.com/photos/1480520/pexels-photo-1480520.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-size: cover;
	background-position: center;
}

.forms {
	background-color: white;
	padding: 0px 60px;
	border-radius: 10px;
}

.toph {
	color: rgb(77, 1, 77);
	text-align: center;
}

.btn {
	width: 100%;
	height: 50px;
	padding: 10px;
	border: none;
	background-color: rebeccapurple;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 30px;
}
