.sidebar {
	/* flex: 3; */
	height: fit-content;
	margin: 20px;
	padding-bottom: 30px;
	/* background-color: background-color: #000000; */
	background-color: #f8002f;
	background-image: linear-gradient(326deg, #f8002f 0%, #000c14 74%);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sidebar:hover {
	transform: scale(1.09) perspective(0px);
	box-shadow: 4px 4px 4px rgba(60, 60, 93, 0.33);
	cursor: pointer;
}

.sidebarItem {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebarTitle {
	margin: 10px;
	padding: 5px;
	width: 80%;
	border-top: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
	text-align: center;
	font-family: "Varela Round", sans-serif;
	font-size: 12px;
	line-height: 19px;
	color: #ffffff;
	font-weight: 600;
}

.sidebarItem > img {
	margin-top: 15px;
	width: 250px;
	height: 250px;
}

.sidebarItem > p {
	padding: 30px;
}

.sidebarList {
	list-style-type: none;
	margin-bottom: 30px;
}

.sidebarListItem {
	display: inline-block;
	width: 50%;
	margin-top: 15px;
	cursor: pointer;
}

.sidebarSocial {
	margin-top: 15px;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebarIcon {
	font-size: 16px;
	margin-left: 10px;
}
